# Flight Finder

In [1]:
import smtplib
import pandas as pd
from time import sleep
from datetime import datetime, timedelta
from random import randint
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

In [2]:
chrome_driver_path = 'chromedriver.exe'
airports = ['RIX', 'TBS'] # Search using an IATA airport code
kayak = "https://www.kayak.com/explore/{}-anywhere/"
from_date, to_date = datetime(2022, 10, 1), datetime(2022, 10, 6)
duration_min, duration_max = 4, 8 # In days, inclusive

In [3]:
class FlightLoader:
    def __init__(self, url, airport=None, load_n=3, range=3):
        self.TIME = 0.25
        self.url = url
        self.airport = airport
        self.load_n = load_n
        self.range = range
    
    def increase_time(self):
        self.TIME += 0.25
    
    def press_button(self, button, n_presses=1):
        i = 0
        while i < n_presses:
            try:
                self.driver.find_element(By.XPATH, button).click()
                i += 1
                sleep(0.1)
            except Exception:
                self.driver.find_element(By.TAG_NAME, "Body").send_keys(Keys.CONTROL + 'r')
                sleep(0.5)
    
    def load_more_destinations(self):
        self.press_button('//*[substring(@id, string-length(@id) - string-length("-showMoreButton") +1) = "-showMoreButton"]', n_presses=self.load_n)
        
    def zoom_out(self):
        self.driver.find_element(By.TAG_NAME, "Body").send_keys(Keys.CONTROL + Keys.HOME)
        self.press_button('//*[substring(@id, string-length(@id) - string-length("-zoomControl-minusButton") +1) = "-zoomControl-minusButton"]')
    
    def add_flights(self):
        self.load_more_destinations()
        sleep(self.TIME)
        return [x.text for x in self.driver.find_elements(By.XPATH, '//*[@class = "_iae _lc _ss"]')]
        
    def to_pandas(self, flight_list):
        flights = pd.DataFrame(flight_list, columns=['City', 'Price', 'Country', 'Date']).loc[:, ['Country', 'City', 'Price', 'Date']]
        flights['Price'] = flights['Price'].map(lambda x: int(x[6:]))
        flights[['Departure date', 'Arrival date']] = flights['Date'].str.split('-', expand=True)
        flights.drop('Date', axis=1, inplace=True)
        if self.airport is not None: flights.rename({'Price': f"Price from {self.airport}"}, inplace=True, axis=1)
        return flights.drop_duplicates()
    
    def get_flights(self):
        self.driver = webdriver.Chrome(service=Service(chrome_driver_path))
        self.driver.get(self.url)
        
        flights = []
        flights += self.add_flights()
        for _ in range(self.range):
            self.zoom_out()
            flights += self.add_flights()

        return self.to_pandas([x.split('\n') for x in flights if x != ''])

In [4]:
dates = [
    (from_date + timedelta(i), from_date + timedelta(i) + delta)
    for i in range((to_date - from_date).days)
    for delta in [timedelta(i) for i in range(duration_min, duration_max+1)]
    if from_date + timedelta(i) + delta <= to_date
]
len(dates)

3

In [5]:
all_flights = []
for airport in airports:
    flights = []
    for s_date, e_date in dates:
        url = kayak.format(airport) + s_date.strftime("%Y%m%d") + ',' + e_date.strftime("%Y%m%d")
        loader = FlightLoader(url, airport)
        while True:
            try: flights.append(loader.get_flights())
            except Exception: loader.increase_time()
            else: break
        del(loader)
        sleep(randint(1, 3))
    all_flights.append(pd.concat(flights).drop_duplicates())

In [6]:
flight_list = all_flights[0].rename({'Price': "Price from RIX"}, axis=1).merge(all_flights[1].rename({'Price': "Price from TBS"}, axis=1))
flight_list['Combined price'] = flight_list['Price from RIX'] + flight_list['Price from TBS']
flight_list = flight_list.sort_values('Combined price').iloc[:, [0, 1, 2, 5, 6, 3, 4]]

In [7]:
flight_list

,Country,City,Price from RIX,Price from TBS,Combined price,Departure date,Arrival date
28,Belgium,Brussels,85,298,383,"Sat, Oct 1","Thu, Oct 6"
41,Norway,Oslo,57,343,400,"Sun, Oct 2","Thu, Oct 6"
30,United Kingdom,London,41,360,401,"Sat, Oct 1","Thu, Oct 6"
42,Belgium,Brussels,86,316,402,"Sun, Oct 2","Thu, Oct 6"
26,Norway,Oslo,61,348,409,"Sat, Oct 1","Thu, Oct 6"
0,Sweden,Stockholm,29,395,424,"Sat, Oct 1","Wed, Oct 5"
25,Poland,Warsaw,33,402,435,"Sat, Oct 1","Thu, Oct 6"
27,Denmark,Copenhagen,83,355,438,"Sat, Oct 1","Thu, Oct 6"
6,Denmark,Copenhagen,78,362,440,"Sat, Oct 1","Wed, Oct 5"
35,France,Paris,97,344,441,"Sat, Oct 1","Thu, Oct 6"
2,Poland,Warsaw,35,406,441,"Sat, Oct 1","Wed, Oct 5"
45,United Kingdom,London,74,367,441,"Sun, Oct 2","Thu, Oct 6"
1,Sweden,Stockholm,50,395,445,"Sat, Oct 1","Wed, Oct 5"
4,Denmark,Billund,68,380,448,"Sat, Oct 1","Wed, Oct 5"
49,France,Paris,101,348,449,"Sun, Oct 2","Thu, Oct 6"
33,Italy,Milan,94,359,453,"Sat, Oct 1","Thu, Oct 6"
44,Hungary,Budapest,61,394,455,"Sun, Oct 2","Thu, Oct 6"
43,Denmark,Copenhagen,87,372,459,"Sun, Oct 2","Thu, Oct 6"
34,Italy,Bologna,95,366,461,"Sat, Oct 1","Thu, Oct 6"
37,Sweden,Stockholm,32,430,462,"Sun, Oct 2","Thu, Oct 6"
39,Finland,Helsinki,43,430,473,"Sun, Oct 2","Thu, Oct 6"
9,France,Marseille,98,382,480,"Sat, Oct 1","Wed, Oct 5"
10,Italy,Bologna,104,377,481,"Sat, Oct 1","Wed, Oct 5"
48,Spain,Barcelona,99,384,483,"Sun, Oct 2","Thu, Oct 6"
36,France,Marseille,104,380,484,"Sat, Oct 1","Thu, Oct 6"
38,Sweden,Stockholm,56,430,486,"Sun, Oct 2","Thu, Oct 6"
50,France,Marseille,109,383,492,"Sun, Oct 2","Thu, Oct 6"
11,Italy,Rome,120,372,492,"Sat, Oct 1","Wed, Oct 5"
13,Italy,Venice,122,371,493,"Sat, Oct 1","Wed, Oct 5"
5,Czech Republic,Prague,76,422,498,"Sat, Oct 1","Wed, Oct 5"
8,Lithuania,Vilnius,110,395,505,"Sat, Oct 1","Wed, Oct 5"
53,Italy,Rome,126,389,515,"Sun, Oct 2","Thu, Oct 6"
40,Estonia,Tallinn,56,465,521,"Sun, Oct 2","Thu, Oct 6"
56,Germany,Düsseldorf,150,371,521,"Sun, Oct 2","Thu, Oct 6"
3,Estonia,Tallinn,60,465,525,"Sat, Oct 1","Wed, Oct 5"
31,Ireland,Dublin,90,435,525,"Sat, Oct 1","Thu, Oct 6"
15,Austria,Vienna,147,379,526,"Sat, Oct 1","Wed, Oct 5"
23,Switzerland,Zurich,182,350,532,"Sat, Oct 1","Wed, Oct 5"
32,Spain,Palma de Mallorca,94,439,533,"Sat, Oct 1","Thu, Oct 6"
51,Spain,Madrid,122,412,534,"Sun, Oct 2","Thu, Oct 6"
22,Greece,Athens,180,355,535,"Sat, Oct 1","Wed, Oct 5"
19,Italy,Naples,127,411,538,"Sat, Oct 1","Wed, Oct 5"
14,Germany,Düsseldorf,140,399,539,"Sat, Oct 1","Wed, Oct 5"
29,Germany,Düsseldorf,144,396,540,"Sat, Oct 1","Thu, Oct 6"
46,Ireland,Dublin,93,449,542,"Sun, Oct 2","Thu, Oct 6"
47,Spain,Palma de Mallorca,98,444,542,"Sun, Oct 2","Thu, Oct 6"
16,Germany,Hamburg,148,394,542,"Sat, Oct 1","Wed, Oct 5"
17,Hungary,Budapest,150,392,542,"Sat, Oct 1","Wed, Oct 5"
54,Romania,Bucharest,128,431,559,"Sun, Oct 2","Thu, Oct 6"
52,Italy,Naples,126,435,561,"Sun, Oct 2","Thu, Oct 6"
7,Lithuania,Kaunas,93,478,571,"Sat, Oct 1","Wed, Oct 5"
12,Romania,Bucharest,121,454,575,"Sat, Oct 1","Wed, Oct 5"
18,France,Lyon,163,415,578,"Sat, Oct 1","Wed, Oct 5"
20,Italy,Catania,136,442,578,"Sat, Oct 1","Wed, Oct 5"
55,France,Nice,140,448,588,"Sun, Oct 2","Thu, Oct 6"
21,Malta,Luqa,159,475,634,"Sat, Oct 1","Wed, Oct 5"
24,Greece,Thessaloniki,192,450,642,"Sat, Oct 1","Wed, Oct 5"