# Flight Finder

In [1]:
import smtplib
import pandas as pd
from time import sleep, strftime
from random import randint
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from email.mime.multipart import MIMEMultipart

In [2]:
load_N = 3

chrome_driver_path = "chromedriver.exe"
kayak = "https://www.kayak.com/explore/RIX-anywhere"

In [3]:
driver = webdriver.Chrome(service=Service(chrome_driver_path))
driver.get(kayak)

i = 0
while i < load_N:
    try:
        driver.find_element(By.XPATH, '//*[substring(@id, string-length(@id) - string-length("-showMoreButton") +1) = "-showMoreButton"]').click()
        i += 1
        sleep(0.1)
    except:
        sleep(1)
sleep(1)
flight_list = [x.text for x in driver.find_elements(By.XPATH, '//*[@class = "_iae _lc _ss"]')]

In [4]:
print(len(flight_list))

60

In [5]:
df = pd.DataFrame([x.split('\n') for x in flight_list if x != ''], columns=['City', 'Price', 'Country', 'Date']).loc[:, ['Country', 'City', 'Price', 'Date']]
df.head()

   Country        City     Price                       Date
0  Finland    Helsinki  from $14   Fri, Oct 7 - Mon, Oct 10
1   Sweden  Gothenburg  from $15  Thu, Sep 22 - Sun, Sep 25
2  Denmark      Aarhus  from $15   Thu, Sep 29 - Tue, Oct 4
3   Poland      Warsaw  from $16  Mon, Oct 10 - Mon, Oct 17
4   Sweden   Stockholm  from $18   Fri, Sep 30 - Sun, Oct 2