# Flight Finder

In [1]:
from flight_loader import load_flights
from datetime import datetime

In [2]:
airports = ['LBA', 'TBS'] # Search using an IATA airport code
from_date, to_date = datetime(2022, 10, 1), datetime(2022, 10, 5)
duration_min, duration_max = 4, 8 # In days, inclusive

In [3]:
load_flights(airports, from_date, to_date, duration_min, duration_max, ipy=True)

Step 1/2

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:19<00:00, 19.61s/it]

Step 2/2

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:25<00:00, 25.40s/it]

,Country,City,Price from LBA,Price from TBS,Combined price,Departure date,Arrival date
0,Ireland,Dublin,33,588,621,"Sat, Oct 1","Wed, Oct 5"
14,Italy,Venice,86,554,640,"Sat, Oct 1","Wed, Oct 5"
3,United Kingdom,London,115,535,650,"Sat, Oct 1","Wed, Oct 5"
40,Spain,Málaga,86,583,669,"Sat, Oct 1","Wed, Oct 5"
17,France,Marseille,149,525,674,"Sat, Oct 1","Wed, Oct 5"
41,Spain,Palma de Mallorca,93,586,679,"Sat, Oct 1","Wed, Oct 5"
15,Spain,Barcelona,137,549,686,"Sat, Oct 1","Wed, Oct 5"
10,Poland,Gdansk,235,463,698,"Sat, Oct 1","Wed, Oct 5"
6,Belgium,Brussels,202,499,701,"Sat, Oct 1","Wed, Oct 5"
16,Italy,Milan,144,557,701,"Sat, Oct 1","Wed, Oct 5"
18,Spain,Madrid,180,525,705,"Sat, Oct 1","Wed, Oct 5"
42,Portugal,Faro,110,598,708,"Sat, Oct 1","Wed, Oct 5"
28,Bulgaria,Sofia,264,446,710,"Sat, Oct 1","Wed, Oct 5"
1,Poland,Warsaw,107,605,712,"Sat, Oct 1","Wed, Oct 5"
24,Romania,Bucharest,237,479,716,"Sat, Oct 1","Wed, Oct 5"
11,Poland,Katowice,261,457,718,"Sat, Oct 1","Wed, Oct 5"
5,Hungary,Budapest,165,559,724,"Sat, Oct 1","Wed, Oct 5"
13,Germany,Düsseldorf,262,466,728,"Sat, Oct 1","Wed, Oct 5"
12,Germany,Düsseldorf,263,466,729,"Sat, Oct 1","Wed, Oct 5"
8,Sweden,Stockholm,226,520,746,"Sat, Oct 1","Wed, Oct 5"